<!doctype html>
<html>
<head>
    <title>API Evolution</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="API Evolution Project">
    <meta name="author" content="thesegalgroup.com">
    <link href="stylesheets/bootstrap.css" rel="stylesheet">
    <link href="stylesheets/bootstrap-responsive.css" rel="stylesheet">
    <link href="stylesheets/slider.css" rel="stylesheet">
    <link href="stylesheets/style.css" rel="stylesheet">
</head>
<body>
    <div id='nav' class="hero-unit row-fluid">
    	<div class="span4">
	    	<h1 class="logo-heading">API Evolution</h1>
	    </div>
	    <div class="span8 navbar">
	    	<ul class="nav nav-pills">
	    		<li class="dropdown">
	    			<a id="projects-nav" data-toggle="dropdown" class="dropdown-toggle" href=""><span id="current-project">Projects</span> <span class="caret"></span></a>
	    			<div class="dropdown-menu nav-projects-dd" role="menu">
					</div>
	    		</li>
	    		<li class="dropdown" id="metric-dd">
	    			<a data-toggle="dropdown" class="dropdown-toggle" href=""><span id="current-metric">Metrics</span> <span class="caret"></span></a>
	    			<div class="dropdown-menu nav-metrics-dd" role="menu">
					</div>
	    		</li>
	    	</ul>
	    </div>
    </div>
    <div class='container graph'>

    </div>
    <div class='container'>
    	<div class="timewindow-wrapper align-center slider">
    	</div>
    	<div class="slider-explanation">
	    	<h3>Select the sliding timewindow.</h3>
    		<p>Select the number of commits to iterate over previous to the data point.</p>
		</div>	
    </div>
    <div class="loading"><span>Loading...</span></div>
</body>
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="javascripts/jquery.js"></script>
<script src="javascripts/bootstrap-transition.js"></script>
<script src="javascripts/bootstrap-alert.js"></script>
<script src="javascripts/bootstrap-modal.js"></script>
<script src="javascripts/bootstrap-dropdown.js"></script>
<script src="javascripts/bootstrap-scrollspy.js"></script>
<script src="javascripts/bootstrap-tab.js"></script>
<script src="javascripts/bootstrap-tooltip.js"></script>
<script src="javascripts/bootstrap-popover.js"></script>
<script src="javascripts/bootstrap-button.js"></script>
<script src="javascripts/bootstrap-collapse.js"></script>
<script src="javascripts/bootstrap-carousel.js"></script>
<script src="javascripts/bootstrap-typeahead.js"></script>
<script src="javascripts/bootstrap-affix.js"></script>
<script src="javascripts/bootstrap-slider.js"></script>
<script src="javascripts/handlebars.js"></script>
<script src="javascripts/ApiEvolution.js"></script>
<script src="javascripts/application.js"></script>
</html>